*{
        padding: 0;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aquamarine;
    }
    body{
        background-color: black;
    }
    body h1{
        text-align: center;
        margin-top: 20px;
    }
    .Registration-container ,
    .login-container ,
    .Delete-container,
    .SignUp-container,
    .Search-container,
    .Edit-container{
        
        /* background-color: rgb(38, 36, 36); */
        background: linear-gradient(120deg, rgb(31, 30, 30), rgb(68, 62, 62));
        text-align: center;
        margin: auto;
        margin-top: 100px;
        padding: 20px;
        width: 35%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
    }
    .input{
        margin: 10px;
    }
    .input input {
        margin: 12px 0px;
       height: 50px;
       width: 90%;
       padding:0px 10px;
       background-color: rgb(0, 0, 0);
        border: none;
        font-size: 16px;
        border-radius: 5px;
        
    }
    .buttons button{
        width: 90%;
        height: 40px;
        border-radius: 50px;
        background-color: rgb(62, 59, 59);
        border: none;
        box-shadow: 0px 0px 5px gray;
        cursor: pointer;
        font-size: 16px;

    }
    .buttons button:active{
        color: chartreuse;
        background-color: rgb(50, 48, 48);
        animation: AnimationOfButton 2s;

    }
    @media (max-width:700px) {
        .Registration-container ,
        .login-container ,
        .Delete-container,
        .SignUp-container,
        .Search-container,
        .Edit-container{
            width: 80%;
        }
        
    }
    @keyframes AnimationOfButton{
        0% {
            background-color: green;
        }
        100%{
            background-color: rgb(62, 59, 59);
        }
    }

